<h2>List of Recipes</h2>
<table class="table-fill">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= recipe.name %></td>
      <td><%= link_to "Show", recipe %></td>
      <td><%= link_to "Edit", edit_recipe_path(recipe) %></td>
      <td><%= link_to "Remove", recipe, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to "Create new recipe", new_recipe_path %> <br>
<%= link_to "Back", root_path %>
