<h1>Recipe: <%= @recipe.name %></h1>

<p>
  <strong>Name: </strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Instructions: </strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Servings: </strong>
  <%= @recipe.servings %>
</p>

<p>
  <strong>Courses: </strong>
  <% @courses.each do |course| %>
      <p><%= course.name %></p>
  <% end %>
</p>

<%= link_to 'Back', recipes_path %>
