<h1>Signup</h1>

<%= form_for @user, url: signup_path do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %> prohibited this website from being saved:</h3>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.email_field :email, placeholder: "Enter your email" %> 
  <%= f.password_field :password, placeholder: "Enter your password" %>
  <%= f.submit "Signup" %>
<% end %>
